@model ForbiddenIslandMVCTwo.Models.Player

<fieldset>
    <legend>Player</legend>

    <span class="label label-primary">@Html.DisplayNameFor(model => model.Name)</span>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Colour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Colour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Action)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Action)
    </div>


     
</fieldset>

