@model ForbiddenIslandMVCTwo.Models.Player

<fieldset>
    <legend>Player</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Action)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Action)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Colour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Colour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlayerHandId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlayerHandId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HasEarthStoneTreasureStatue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HasEarthStoneTreasureStatue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HasStatueOfTheWindTreasureStatue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HasStatueOfTheWindTreasureStatue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HasCrystalOfFireTreasureStatue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HasCrystalOfFireTreasureStatue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HasOceansChaliceTreasureStatue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HasOceansChaliceTreasureStatue)
    </div>
</fieldset>
