@model ForbiddenIslandMVCTwo.Models.Player

<fieldset>
    <legend>Player</legend>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.DisplayFor(model => model.Name)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.Action)
        </div>
    </div>

    @if (@Model.HasCrystalOfFireTreasureStatue)
    {
        <img src="~/Images/Statue/120x120/CrystalOfFire.jpg" />
    }
    @if (@Model.HasEarthStoneTreasureStatue)
    {
        <img src="~/Images/Statue/120x120/EarthStone.jpg" />
    }
    @if (@Model.HasOceansChaliceTreasureStatue)
    {
        <img src="~/Images/Statue/120x120/OceansChalice.jpg" />
    }
    @if (@Model.HasStatueOfTheWindTreasureStatue)
    {
        <img src="~/Images/Statue/120x120/StatueOfTheWind.jpg" />
    }

    @*<div class="display-label">
             @Html.DisplayNameFor(model => model.Colour)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Colour)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.PlayerHandId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PlayerHandId)
        </div>*@


</fieldset>
