@model ForbiddenIslandMVCTwo.ViewModels.IslandOfTiles

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@foreach (var item in Model.FirstRow)
{
    <div class="col-xs-5 col-md-3 islandTile-cell">
        @Html.Partial("~/Views/IslandTile/_IslandTile.cshtml", item)
    </div>
}

@foreach (var item in Model.SecondRow)
{
    <div class="col-xs-5 col-md-3 islandTile-cell">
        @Html.Partial("~/Views/IslandTile/_IslandTile.cshtml", item)
    </div>
}

@foreach (var item in Model.ThirdRow)
{
    <div class="col-xs-5 col-md-3 islandTile-cell">
        @Html.Partial("~/Views/IslandTile/_IslandTile.cshtml", item)
    </div>
}
@foreach (var item in Model.FourthRow)
{
    <div class="col-xs-5 col-md-3 islandTile-cell">
        @Html.Partial("~/Views/IslandTile/_IslandTile.cshtml", item)
    </div>
}
@foreach (var item in Model.SixthRow)
{
    <div class="col-xs-5 col-md-3 islandTile-cell">
        @Html.Partial("~/Views/IslandTile/_IslandTile.cshtml", item)
    </div>
}