@model ForbiddenIslandMVCTwo.ViewModels.IslandOfTiles

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table style="width:100%">
    <tr>
        @foreach (var item in Model.FirstRow)
        {
            <td class="islandTile-cell">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.SecondRow)
        {
            <td class="islandTile-cell">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.ThirdRow)
        {
            <td class="islandTile-cell">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.FourthRow)
        {
            <td class="islandTile-cell">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.FifthRow)
        {
            <td class="islandTile-cell">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.SixthRow)
        {
            <td class="islandTile-cell">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
</table>

@Html.Partial("_PlayerDetails", Model.FirstPlayer)