@model ForbiddenIslandMVCTwo.ViewModels.IslandOfTiles

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" language="javascript">
    function onIslandTileClick(RowNumber) {
        if ($("#MoveOne").val() == "00000000-0000-0000-0000-000000000000") {
            $("#MoveOne").val(RowNumber);
        }
        else if ($("#MoveTwo").val() == "00000000-0000-0000-0000-000000000000") {
            $("#MoveTwo").val(RowNumber);
        }
        else if ($("#MoveThree").val() == "00000000-0000-0000-0000-000000000000") {
            $("#MoveThree").val(RowNumber);
        }
    }
</script>

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    //This shows there errors
    @Html.ValidationSummary()

    <fieldset>
        <p>
            @*//These will get change to hidden fields*@
            @Html.EditorFor(model => model.MoveOne)
            @Html.EditorFor(model => model.MoveTwo)
            @Html.EditorFor(model => model.MoveThree)
            @Html.EditorFor(model => model.GamePlaySettingsId)
            @Html.EditorFor(model => model.CurrentPlayerTileId)
        </p>
        <p>
            <input type="submit" value="Submit" />
        </p>

    </fieldset>
}

@Html.Partial("_PlayerDetails", Model.CurrentPlayer)

<table style="width:100%">
    <tr>
        @foreach (var item in Model.FirstRow)
        {
            <td class="islandTile-cell" onclick="onIslandTileClick('@item.Id')">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.SecondRow)
        {
            <td class="islandTile-cell" onclick="onIslandTileClick('@item.Id')">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.ThirdRow)
        {
            <td class="islandTile-cell" onclick="onIslandTileClick('@item.Id')">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.FourthRow)
        {
            <td class="islandTile-cell" onclick="onIslandTileClick('@item.Id')">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.FifthRow)
        {
            <td class="islandTile-cell" onclick="onIslandTileClick('@item.Id')">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
    <tr>
        @foreach (var item in Model.SixthRow)
        {
            <td class="islandTile-cell" onclick="onIslandTileClick('@item.Id')">
                @Html.Partial("_IslandTile", item)
            </td>
        }
    </tr>
</table>

@Html.Partial("_PlayerDetails", Model.GamePlaySetting.FirstMovePlayer)
@Html.Partial("_PlayerDetails", Model.GamePlaySetting.SecondMovePlayer)
@Html.Partial("_PlayerDetails", Model.GamePlaySetting.ThirdMovePlayer)
@Html.Partial("_PlayerDetails", Model.GamePlaySetting.FourthMovePlayer)