@model ForbiddenIslandMVCTwo.ViewModels.IslandTileViewModel

<fieldset>
    <legend>IslandTile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.SubmergedState)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubmergedState)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartingTileForPlayer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartingTileForPlayer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HelicopterSite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HelicopterSite)
    </div>*@

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RowNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RowNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ColumnNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ColumnNumber)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.HasStatue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HasStatue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CanHaveStatue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CanHaveStatue)
    </div>*@

    <img src="@Url.Content(Model.FilePath)" alt="Image" />

    <img src="data:image;base64,@System.Convert.ToBase64String(Model.ImageArray)" />


</fieldset>
